<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangbin.location.LocationMapper">


    <resultMap id="BaseResultMap" type="com.huangbin.location.Location">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="loc_code" jdbcType="VARCHAR" property="userName"/>
        <result column="loc_name" jdbcType="VARCHAR" property="password"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <insert id="add" parameterType="com.huangbin.location.Location">

     insert  into location (loc_code,loc_name,status)value(#{locCode},#{locName},#{status});

    </insert>


    <select id="find" parameterType="java.lang.Integer" resultType="com.huangbin.location.Location">
        select id,loc_code,loc_name,status from location where id =#{id}
    </select>


    <delete id="delete" parameterType="java.lang.Integer">
        delete  from location where id =#{id}
    </delete>

    <update id="updateLocName">
        update  location set loc_name = #{locName} where id = #{id}
    </update>

    <select id="findAll" resultType="com.huangbin.location.Location">
        select id,loc_code,loc_name,status from location where status = '1'
    </select>

</mapper>
